{% extends 'master.html' %}
{% load cc_tags %}
{% block body %}
    <div class="container">
        <h4>Totalstälningen {{ choosen_year }}</h4>
        <table>
            <tr>
                <td width="5%" align="center"><strong>Plac</strong></td>
                <td width="45%" align="center"><strong>Namn</strong></td>
                <td width="10%" align="center"><strong>Poäng</strong></td>
                <td width="5%" align="center"><strong>1</strong></td>
                <td width="5%" align="center"><strong>2</strong></td>
                <td width="5%" align="center"><strong>3</strong></td>
                <td width="5%" align="center"><strong>4</strong></td>
                <td width="5%" align="center"><strong>5</strong></td>
                <td width="5%" align="center"><strong>6</strong></td>
                <td width="5%" align="center"><strong>7</strong></td>
                <td width="5%" align="center"><strong>8</strong></td>
            </tr>
            {% for key, val in cc.items %}
                <tr class="grey {% cycle 'lighten-4' 'lighten-3' %}">
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{{ val.0.competitor.get_absolute_url }}">{{ val.0.competitor }}</a> </td>
                    <td>{{ sum|get_item:key }}</td>
                {% for r in val %}
                    <td><a href="{{ r.race.event.get_absolute_url }}">{{ r.points }}</a></td>
                {% endfor %}
                {% get_empty_cells val %}

                </tr>

            {% endfor %}

        </table>
    <h5>Tidigare år</h5>
    {% year_range as year_list %}
    {% for y in year_list %}
    <a href="{% url "cc:cc" year=y %}">{{ y }}</a>,
    {% endfor %}
    </div>
{% endblock %}